:root {
   --el-fill-color-blank: var(--background-color);
   --menu-background-color: #001529;
   --el-text-color-primary: var(--font-color);
   --el-bg-color: var(--background-color);
   --el-aside-width: 200px;
   --header-height: 53px;
}
